 body {
   width: 100%;
   height: 100%;

   margin: 0;
   padding: 0;

   overflow: hidden;

   font-family: sans-serif;
 }

 * {
   box-sizing: border-box;
 }

 canvas {
   background-color: #000;

   width: 100%;
   height: 100%;

   image-rendering: pixelated;
   image-rendering: crisp-edges;
 }

 .contain {
   display: grid;

   grid-template-columns: 100%;
   grid-template-rows: 3% 97%;

   width: 100%;
   overflow: hidden;

 }

 #menu-generator {
   z-index: 9;
   position: fixed;

   bottom: 0;
   right: 0;

   display: flex;
   justify-content: center;
   align-items: center;

   flex-direction: column;

   background-color: rgb(255, 255, 255);
   padding: 10px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

   min-width: 250px;
   min-height: 250px;
 }

 #menu-generator>#info-form.hide {
   display: none;
 }

 #menu-generator>#col-lig-form-gen.hide {
   display: none;
 }

 #menu-generator>#info-form {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 #menu-generator>#info-form>input {
   margin-bottom: 10px;
 }

 #menu-generator>#col-lig-form-gen {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 #menu-generator>#col-lig-form-gen>input {
   margin-bottom: 10px;
 }


 #menu {

   user-select: none;

   z-index: 9;
   display: flex;

   background-color: rgb(255, 255, 255);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

   width: 100%;
 }

 #menu>ul {
   display: flex;
   justify-content: center;
   align-items: center;

   list-style: none;
   margin: 0;
   padding: 0;
 }

 #menu>ul>li {
   margin: 0 5px;
 }